
/*DASHBOARD*/

/*Barre de menu*/


nav{
  background-color: #2b4776;
  min-width: 600px;
  text-align: center;     
}

nav h1{
  margin: 0%!important;
  padding: 5px;
  color: white;
}

.menu {
  text-align:center;
  vertical-align: middle;
  float: right;
}
/*placeholder*/

.placeholder{ 
  background-color: #eee;
  text-align: center;
  max-width: 90%;
  margin: auto;
  min-height: 250px;  
}



.barre{
  margin-bottom: 20px;
  background-color: #cccccc;
 
  display: flow-root;
  text-align: center
}

.barre h1 {
    font-weight: 500;
}

.barre h1{
  font-size: 1.5em; 
  line-height:0.3em;
}


/*bouton*/
.btn {
  outline-style:none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  /*transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
  background-color: #cccccc;
  cursor: pointer;
  width: 50%;
  margin: 3px!important;
  

}



table{
  background-color: white!important;
  max-width: 80%!important;
  margin: auto;
}


/*IP ESP 32*/

.ipParameters{
  width: 90%;
  margin: auto;
 
}

